html,body {
    color: #1e90ff;
    font-family: Helvetica, arial, sans-serif;
    height: 100%;
    width: 100%;
    background: rgb(51, 51, 51);
    background: linear-gradient(90deg, rgba(51, 51, 51, 1) 5%, rgba(72, 84, 97, 1) 50%, rgba(51, 51, 51, 1) 100%);
}

code {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #fefefe;
    background-color: #333;
    width: fit-content;
    padding: .5rem;
    border-radius: .2rem;
    font-size: 2.5rem;
}

.center {
    align-items: center;
    justify-content: center;
    display: block;
}

.content {
    width: 100%;
    height: 100%;
    margin-top: 10rem;
}

.horizontal-center {
    vertical-align: middle;
    horiz-align: center;
}

.footer {
    background-color: #1e90ff;
/ / background-color: #2874fc;
    height: 1rem;
    width: 100%;
}

.bottom {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.table-sm {
    text-align: left;
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
}

.table-one-column {
    margin: auto;
}

th, td {
    padding: 1rem;
}

th {
    background-color: #1e90ff;
    color: #fefefe;
}

tr:hover {
    background-color: #fefefe;
    color: #333333;
}

.text-sm {
    font-size: .5rem;
}

.text-med {
    font-size: 1.5rem;
}

.text-large {
    font-size: 2rem;
}

.text-super-large {
    font-size: 10rem;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.bullet {
    color: #28282B;
    padding: .2rem;
}

.text-white {
    color: #fefefe;
}

.title {
    color: #1e90ff;
}

.sub-title {
    color: #fefefe;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 16px 24px;
}

a:hover {
    background-color: #000;
    color: #ffffff;
}

.buttons {
    margin: 0 auto;
    width: 100%;
}

.button-box {
    width: 100%;
    height: 100%;
    position: sticky;
    bottom: 0;
    left: 0;
}

.round {
    border-radius: 50%;
}

.back {
    background-color: #d3d3d3;
    color: #333333;
}

.next {
    background-color: #1e90ff;
    color: #fefefe;
}
