{% extends 'base.html' %}
{% block body %}
    <div class="center content text-center">
        <h1 class="title text-super-large">{{ title }}</h1>
        <table class="table-sm center text-white text-med">
            <thead class="">
            <tr>
                <th>Type</th>
                <th>Description</th>
                <th>Example</th>
            </tr>
            </thead>
            <tbody>
            {% for key, value in bullets.items() %}
                <tr>
                    <td>
                        {{ key }}
                    </td>
                    <td>
                        {{ value.desc }}
                    </td>
                    <td>
                        {{ value.ex }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock body %}