<table class="table-sm text-white text-med">
    <thead>
    <tr>
        <th>{{ thead_one }}</th>
        <th>{{ thead_two }}</th>
        <th>{{ thead_three }}</th>
    </tr>
    </thead>
    <tbody>
    {% for col_one, value in items.items() %}
        <tr>
            <td>
                {{ col_one }}
            </td>
            <td>
                {{ value.col_two }}
            </td>
            <td>
                {{ value.col_three }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>